<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
    	<table class="table">
    	   	<tr>
    	      	<th>Food name</th><th>Seller</th><th>Quantity</th><th>Availability</th><th>Restrictions</th><th>Location</th>
    	   	</tr>

    	   	<% foods.forEach((food) => { %>
    	   		<tr>
    	   			<td><%= food.foodName %></td>
    	   			<td><%= food.sellerUserName %></td>
    	   			<td><%= food.quantity %></td>
                    <td><%= food.isAvailable %></td>
                    <td><%= food.location %></td>
    	   			<td>
    	   				<% if (food.restrictions.length == 1) { %>
    	   					<%= food.restrictions[0] %>
    	   				<% } else {
    	   					for (var i=0; i < food.restrictions.length; i++) {
    	   						if (i == food.restrictions.length - 1) { %>
    	   							<%= food.restrictions[i] %>
    	   						<% } else { %>
    	   							<%= food.restrictions[i] %>, 
    	   						<% }
    	   					}
    	   					} %>
    	   			</td>
                <% }); %>
    	   		</tr>
    	</table>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>